<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.deu.cse.volt">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Volt">
        <activity android:name=".Main.DetailThingsActivity"></activity>
        <activity android:name=".Settings.QnaActivity" />
        <activity android:name=".Settings.AgreeActivity" />
        <activity android:name=".Settings.SecurityActivity" />
        <activity android:name=".Settings.PaymentActivity" />
        <activity android:name=".Settings.AlarmModifyActivity" />
        <activity android:name=".Settings.NoticeActivity" />
        <activity android:name=".Settings.MyinfoModifyActivity" />
        <activity android:name=".Splsash.SplashActivity">
            <meta-data
                android:name="com.google.android.actions"
                android:resource="@xml/ripple_custom" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login.LoginActivity" />
        <activity android:name=".Login.PWDsearchActivity" />
        <activity android:name=".Login.SignUp.SignupActivity" />
        <activity android:name=".Login.IDsearch.IdSearchActivity" />
        <activity android:name=".Main.MainActivity" />


    </application>
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>